{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarVenta/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ misventas.id_venta }}" readonly>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtcliente" name="txtcliente" class="form-control" value="{{ misventas.id_cliente }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtempleado" name="txtempleado" class="form-control" value="{{ misventas.id_empleado }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="time" id="txttime" name="txttime" class="form-control" value="{{ hora_venta }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" step="0.01" id="txttotal" name="txttotal" class="form-control" value="{{ misventas.total }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtsucursal" name="txtsucursal" class="form-control" value="{{ misventas.id_sucursal }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtproducto" name="txtproducto" class="form-control" value="{{ misventas.id_productos }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="txtfecha" name="txtfecha" class="form-control" value="{{ fecha_venta }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtcantidad" name="txtcantidad" class="form-control" value="{{ misventas.cantidad }}" required>
                    </div>
                    
                    
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
