{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Cliente</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCliente/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" name="id_cliente" class="form-control" placeholder="ID Cliente" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" name="edad" class="form-control" placeholder="Edad" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="sexo" class="form-control" placeholder="Sexo" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="email" name="correo_electronico" class="form-control" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" step="0.01" name="presupuesto" class="form-control" placeholder="Presupuesto" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <img class="w-50" src="{% static 'img/clientes.jpg' %}" width="400" height="400" alt="">
        <h1>Listado de Clientes</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Cliente</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th>Correo Electrónico</th>
                        <th>Presupuesto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cliente.id_cliente }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.edad }}</td>
                        <td>{{ cliente.sexo }}</td>
                        <td>{{ cliente.correo_electronico }}</td>
                        <td>{{ cliente.presupuesto }}</td>
                        <td>
                            <a href="/seleccionarCliente/{{ cliente.id_cliente }}/" class="btn btn-info">Editar</a>
                            <a href="/borrarCliente/{{ cliente.id_cliente }}/" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
