{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarProducto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ misproductos.id_producto }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtsucursal" name="txtsucursal" class="form-control" value="{{ misproductos.id_sucursal }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ misproductos.nombre }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtstock" name="txtstock" class="form-control" value="{{ misproductos.stock }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtprovedor" name="txtprovedor" class="form-control" value="{{ misproductos.id_provedor }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" step="0.01" id="numprecio" name="numprecio" class="form-control" value="{{ misproductos.precio }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtmarca" name="txtmarca" class="form-control" value="{{ misproductos.marca }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
