{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarSucursal/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ mi_sucursal.id_sucursal }}" readonly>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtidempleado" name="txtidempleado" class="form-control" value="{{ mi_sucursal.id_empleado }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{ mi_sucursal.direccion }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="numtelefono" name="numtelefono" class="form-control" value="{{ mi_sucursal.num_telefono }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="email" id="txtcorreo" name="txtcorreo" class="form-control" value="{{ mi_sucursal.correo_electronico }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ mi_sucursal.nombre }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txthorario" name="txthorario" class="form-control" value="{{ mi_sucursal.horario }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
