{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Sucursal</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarSucursal/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Código Sucursal" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtidempleado" name="txtidempleado" class="form-control" placeholder="ID Empleado" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Dirección" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="numtelefono" name="numtelefono" class="form-control" placeholder="Teléfono" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="email" id="txtcorreo" name="txtcorreo" class="form-control" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txthorario" name="txthorario" class="form-control" placeholder="Horario" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <img class="w-50" src="{% static 'img/sucursales.jpg' %}" width="400" height="400" alt="">
        <h1>Listado de Sucursales</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Sucursal</th>
                        <th>ID Empleado</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Horario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in mis_sucursales %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ s.id_sucursal }}</td>
                        <td>{{ s.id_empleado }}</td>
                        <td>{{ s.direccion }}</td>
                        <td>{{ s.num_telefono }}</td>
                        <td>{{ s.correo_electronico }}</td>
                        <td>{{ s.nombre }}</td>
                        <td>{{ s.horario }}</td>
                        <td>
                            <a href="seleccionarSucursal/{{ s.id_sucursal }}" class="btn btn-info">Editar</a>
                            <a href="borrarSucursal/{{ s.id_sucursal }}" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
